on: [push]
jobs:
  build-and-deploy:
    env:
      REGISTRY_URL: kapasrijkubacr.azurecr.io
      SERVICE_NAME: kpjavakubernetes  
      NAMESPACE: kpjavakubernetes  
      IMAGE_NAME: kpjavakubernetes
      APP_NAME: kpjavakubernetes_
      SECRET_NAME: kpjavakubernetesdockerauth

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    
    - uses: azure/docker-login@v1
      with:
        login-server: kapasrijkubacr.azurecr.io
        username: 'kapasrijkubacr'
        password: 's+Hpaz1jpJFcwmq647n+IpLepCicg4G3'
    
    - name: Build and push image to ACR
      id: build-image
      run: |
        docker build "$GITHUB_WORKSPACE/node/plain/container/Application" -f  "node/plain/container/Application/Dockerfile" -t  $REGISTRY_URL/$IMAGE_NAME:mnb
        docker push $REGISTRY_URL/$IMAGE_NAME:mnb
    
    - uses: azure/k8s-set-context@v1
      with:
         kubeconfig: ${{ secrets.kpjavakubernetes_99ed4 }}
      id: login
    
    - name: Create namespace
      run: |
        namespacePresent=`kubectl get namespace | grep $NAMESPACE | wc -l`
        if [ $namespacePresent -eq 0 ]
        then
            echo `kubectl create namespace $NAMESPACE`
        fi

    - uses: azure/k8s-create-secret@v1
      with:
        namespace: kpjavakubernetes
        container-registry-url: kapasrijkubacr.azurecr.io
        container-registry-username: 'kapasrijkubacr'
        container-registry-password: 's+Hpaz1jpJFcwmq647n+IpLepCicg4G3'
        secret-name: kpjavakubernetesdockerauth
       
    - name: Generate Kubernetes Manifest file
      id: manifest-creation
      run: |
        echo  "apiVersion: "apps/v1beta1\nkind: Deployment\nmetadata:\n name: \"$APP_NAME\"\nspec:\n replicas: 2\n template:\n   metadata:\n     labels:\n       app: \"$APP_NAME\"\nspec:\n containers:\n   - name: \"$APP_NAME\"\n     image: \"$REGISTRY_URL/$IMAGE_NAME\"\n     ports:\n     - containerPort: 8080\n   \n   \n apiVersion: v1\n kind: Service\n metadata:\n     name: \"$APP_NAME\"\n     labels:\n         app: \"$APP_NAME\"\n spec:\n     type: LoadBalancer\n     ports:\n     - port: 8080\n       targetPort: http\n       protocol: TCP\n       name: http\n     selector:\n         app: \"$APP_NAME\"\""
"> manifest_.yml

    - uses: azure/k8s-deploy@v1
      with:
        namespace: kpjavakubernetes
        manifests: |
          manifest_.yml
        images: |
          $REGISTRY_URL/$IMAGE_NAME:mnb
        imagepullsecrets: |
          kpjavakubernetesdockerauth
